
.accordion-body,
.accordion .accordion-header .twf-chevron-right {
  -webkit-transition: max-height 0.2s ease, transform 0.2s ease, padding 0.3s ease;
  -moz-transition: max-height 0.2s ease, transform 0.2s ease, padding 0.3s ease;
  -o-transition: max-height 0.2s ease, transform 0.2s ease, padding 0.3s ease;
  transition: max-height 0.2s ease, transform 0.2s ease, padding 0.3s ease;
}
.accordion-body {
  position: relative;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: var(--primary-background-color);
}
.accordion.show .twf-chevron-right {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion.show .accordion-body {
  max-height: 600px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  overflow: auto;
}
