button,input[type=submit],.btn {
  display: inline-block;
  line-height: 1;
  padding: 0.9em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: var(--primary-font);
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--brand-contrast-color);
  background-color: var(--primary-brand-color);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
button.iconize,input[type=submit].iconize,.btn.iconize {
  padding: 0.8em;
  font-size: 0.8em;
}
button:focus,input:focus,textarea:focus {
  outline: none;
}
button:hover,input[type=submit]:hover,.btn:hover {
  color: var(--brand-contrast-color);
  background-color: var(--secondary-brand-color);
}
button.brand-basic,input[type=submit].brand-basic,.btn.brand-basic {
  padding: 0;
  color: var(--primary-brand-color);
  background-color: var(--primary-background-color);
}
button.brand-basic:hover,input[type=submit].brand-basic:hover,.btn.brand-basic:hover {
  color: var(--secondary-brand-color);
  background-color: var(--primary-background-color);
}
button.basic,input[type=submit].basic,.btn.basic {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}
button.basic:hover,input[type=submit].basic:hover,.btn.basic:hover,.button-group button.active {
  color: var(--brand-contrast-color);
  background-color: var(--primary-brand-color);
}
button.delete,input[type=submit].delete,.btn.delete {
  color: #ffffff;
  background-color: var(--fail-color);
}
button.delete:hover,input[type=submit].delete:hover,.btn.delete:hover {
  color: #ffffff;
  background-color: #cc0e13;
}
button.plain,input[type=submit].plain,.btn.plain {
  padding: 0;
  color: var(--primary-brand-color);
  background-color: transparent;
}
button.plain:hover,input[type=submit].plain:hover,.btn.plain:hover {
  color: var(--secondary-brand-color);
  background-color: transparent;
}
button.plain.delete,input[type=submit].plain.delete,.btn.plain.delete {
  color: var(--fail-color);
}
button.full,input[type=submit].full,.btn.full {
  display: block;
  width: 100%;
}
button.large,input[type=submit].large,.btn.large {
  font-size: 1.25em;
  padding: 1.6em 1.5em;
  font-weight: 400;
}
.button-group {
  display: inline-block;
}
.button-group button {
  font-size: 0.8em;
  padding: 0.8em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}
