html {
  font-size: 14px;
}
body {
  position: relative;
  margin: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: #ebeef0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--primary-brand-color);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: var(--secondary-brand-color);
}
label .feedback {
  margin-left: 1em;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
i.before {
  margin-right: 0.5em;
}
input::placeholder {
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
}
input[type=text],input[type=email],input[type=password],textarea {
  width: 100%;
  padding: 1.5em;
  border: none;
  font-size: 0.9em;
}
input[type=text]:disabled,input[type=email]:disabled,input[type=password]:disabled,textarea:disabled {
  background-color: var(--disabled-color);
}
button,input[type=submit],.btn {
  display: inline-block;
  line-height: 1;
  padding: 0.9em 1.2em;
  font-size: 0.8em;
  font-weight: 600;
  font-family: var(--primary-font);
  cursor: pointer;
  border: none;
  color: var(--brand-contrast-color);
  background-color: var(--primary-brand-color);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
button:focus,input:focus,textarea:focus {
  outline: none;
}
button:hover,input[type=submit]:hover,.btn:hover {
  color: var(--brand-contrast-color);
  background-color: var(--secondary-brand-color);
}
button.basic,input[type=submit].basic,.btn.basic {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}
button.basic:hover,input[type=submit].basic:hover,.btn.basic:hover {
  color: var(--brand-contrast-color);
  background-color: var(--primary-brand-color);
}
button.delete,input[type=submit].delete,.btn.delete {
  color: #ffffff;
  background-color: var(--fail-color);
}
button.delete:hover,input[type=submit].delete:hover,.btn.delete:hover {
  color: #ffffff;
  background-color: #cc0e13;
}
