.form-group {
  margin-bottom: 1em;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 0.25em;
}
.form-minimal .form-group {
  margin-bottom: 2px;
  background-color: var(--primary-background-color);
}
.form-minimal .form-group.disabled {
  background-color: var(--disabled-color);
}
.form-minimal .form-group:after {
  clear: both;
  content: "";
  display: table;
}
.form-minimal .form-group > * {
  float: left;
}
.form-minimal label {
  width: 9rem;
  line-height: 1;
  padding: 1.5em;
  margin-bottom: 0;
  font-size: 0.9em;
}
.form-minimal label + * {
  width: calc(100% - 9rem);
  padding-left: 0;
  border: none;
}
.form-minimal label + * input {
  padding-left: 0;
  border: none;
}
