.form-group {
  margin-bottom: 1em;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 0.25em;
}
.feedback {
  font-size: 0.8em;
  margin-bottom: 0.4em;
}
.feedback:empty {
  display: none;
}
.feedback.invalid {
  color: var(--fail-color);
}
