#root {
  width: 100%;
  height: 100vh;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--primary-background-color);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.container {
  position: relative;
  min-height: 100%;
}
.wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.header,
.body-header,
.list-title,
.list-item {
  padding-left: 5%;
  padding-right: 5%;
}
.header {
  height: 4.25rem;
  line-height: 4.25rem;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--border-color);
}
.body {
  max-height: calc(100vh - 10rem);
  overflow: auto;
}
.body-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: var(--primary-brand-color);
}
.body-header .btn {
  display: block;
  width: 100%;
  line-height: 1;
  padding: 1em 0;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  background-color: var(--brand-contrast-color);
  box-shadow: var(--box-shadow);
}
.body-content {
  padding-bottom: 4rem;
}
.list-title {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 1em;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}
.list-item {
  line-height: 1;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.25em;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}
.list-item.empty {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  text-align: center;
  color: var(--secondary-text-color);
}
.list-item-meta {
  font-size: 0.9em;
  color: var(--secondary-text-color);
}
