.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-background-color);
}
.navbar-item {
  display: table;
  width: 33.33%;
  height: 5.75rem;
  line-height: 1;
  font-size: 1rem;
  float: left;
  text-align: center;
}
.navbar-item:last-child {
  border-right: none;
}
.navbar-item .twf {
  width: 100%;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}
.nav-link {
  display: table-cell;
  vertical-align: middle;
  color: var(--secondary-text-color);
}
.nav-link.active {
  color: var(--primary-brand-color);
}
