.rw-i {
  display: inline-block;
  font: normal normal normal 1em/1 'kyoto';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rw-i-chevron-left:before {
  content: "\ea3d"
}
.rw-i-chevron-right:before {
  content: "\ea3e"
}
.rw-i-clock-o:before {
  content: "\ea29"
}
.rw-i-calendar:before {
  content: "\ea1f"
}
.rw-btn > .rw-i {
  display: block;
}
.rw-btn-select > .rw-i {
  line-height: 1.5;
}
.rw-select {
  cursor: pointer;
}
.rw-widget-picker {
  position: relative;
}
.rw-datetime-picker .rw-select {
  position: absolute;
  right: 0;
}
.rw-datetime-picker .rw-select button {
  padding: 1.5em 1.2em;
  border-right: 1px solid var(--brand-contrast-color);
  color: var(--primary-text-color);
  background-color: var(--disabled-color);
}
.rw-datetime-picker .rw-select button:last-child {
  border-right: none;
}
.rw-calendar {
  overflow: hidden;
}
.rw-calendar-btn-left,.rw-calendar-btn-right {
  display: block;
  width: 12.5%;
  float: left;
}
.rw-calendar-btn-view {
  display: block;
  width: 75%;
  float: left;
}
.rw-calendar-header:after {
  clear: both;
  content: "";
  display: table;
}
.rw-calendar-header button {
  padding-right: 0;
  padding-left: 0;
  font-size: 1.1em;
}
.rw-calendar-footer button {
  width: 100%;
  font-size: 1.1em;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}
.rw-calendar-grid {
  width: 100%;
  outline: none;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}
.rw-head-cell {
  padding: 1.2em 0.2em;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}
.rw-cell {
  padding: 1.2em 0.2em;
  color: var(--primary-text-color);
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
}
.rw-cell:hover,.rw-cell.rw-state-focus:hover,.rw-list-option:hover {
  background-color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
  color: var(--brand-contrast-color);
}
.rw-cell.rw-state-focus {
  background-color: transparent;
  border-color: var(--primary-brand-color);
  color: var(--primary-brand-color);
}
.rw-cell.rw-state-selected {
  background-color: var(--secondary-brand-color);
  border-color: var(--secondary-brand-color);
  color: var(--brand-contrast-color);
}
.rw-cell.rw-state-disabled {
  color: var(--secondary-text-color);
  opacity: 0.5;
}
.rw-cell.rw-state-disabled:hover {
  background: none;
  border-color: transparent;
}
.rw-cell-off-range {
  color: var(--secondary-text-color);
}
.rw-calendar-transition-group {
  position: relative;
}
.rw-calendar-transition {
  transition: transform 300ms;
  overflow: hidden;
}
.rw-calendar-transition-top {
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
}
.rw-calendar-transition-bottom{
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.rw-calendar-transition-right {
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.rw-calendar-transition-left {
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.rw-calendar-transition-entering.rw-calendar-transition-top,
.rw-calendar-transition-entered.rw-calendar-transition-top,
.rw-calendar-transition-entering.rw-calendar-transition-bottom,
.rw-calendar-transition-entered.rw-calendar-transition-bottom {
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.rw-calendar-transition-entering.rw-calendar-transition-right,
.rw-calendar-transition-entered.rw-calendar-transition-right,
.rw-calendar-transition-entering.rw-calendar-transition-left,
.rw-calendar-transition-entered.rw-calendar-transition-left {
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.rw-calendar-transition-exiting.rw-calendar-transition-top {
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.rw-calendar-transition-exiting.rw-calendar-transition-bottom {
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.rw-calendar-transition-exiting.rw-calendar-transition-right {
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.rw-calendar-transition-exiting.rw-calendar-transition-left {
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.rw-popup-container{
  position: absolute;
  z-index: 100;
}
.rw-popup-transition {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
}
.rw-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 600px;
  min-height: 16em;
  max-height: 80vh;
  overflow: auto;
  background-color: var(--primary-background-color);
  box-shadow: var(--box-shadow);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.rw-popup-transition {
  transition: transform 200ms;
}
.rw-popup-transition-entering{
  overflow: hidden;
}
.rw-popup-transition-entering .rw-popup-transition {
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-timing-function: ease-out;
}
.rw-popup-transition-exiting .rw-popup-transition {
  transition-timing-function: ease-in;
}
.rw-popup-transition-exiting,.rw-popup-transition-exited {
  overflow: hidden;
}
.rw-popup-transition-exiting .rw-popup-transition,.rw-popup-transition-exited .rw-popup-transition {
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.rw-popup-transition-exiting.rw-dropup .rw-popup-transition,.rw-popup-transition-exited.rw-dropup .rw-popup-transition {
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.rw-popup-transition-exited {
  display: none;
}
.rw-list-option {
  padding: 1em;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}
.rw-list-option:last-child {
  border-bottom: none;
}
.empty input {
  display: none;
}
.empty .rw-select {
  width: 100%;
}
.empty .rw-select button {
  width: 50%;
}
