@media only screen and (min-width: 481px) {
  html {
    font-size: 14px;
  }
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 720px) {
  .fixed {
    left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .hidden-m {
    display: none;
  }
  .rw-datetime-picker .rw-select {
    display: block;
    position: relative;
    width: 100%;
  }
  .rw-datetime-picker .rw-select button {
    width: 50%;
    padding: 0.8em;
  }
}
