.survey-list + button {
  margin-top: 2em;
}
.survey-list:empty + button {
  margin-top: 0;
}
.survey-type label {
  margin-right: 0.8em;
}
.choice-add {
  position: absolute;
  top: 1.25rem;
  right: 4%;
}
.choice-list {
  margin-top: 1.25rem;
}
.choice-list:empty {
  margin-top: 0;
}
.choice-item {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--secondary-background-color);
}
.choice-item:last-child {
  border-bottom: none;
}
