.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.col-3 {
  width: 30%;
}
.col-7 {
  width: 70%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-4 {
  width: 40%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.stacked-child > * {
  margin-bottom: 0.8em;
}
.stacked-child > *:empty,
.stacked-child > *:last-child {
  margin-bottom: 0;
}
.inline-child > * {
  margin-right: 0.5em;
}
.inline-child > *:empty,
.inline-child > *:last-child {
  margin-right: 0;
}
.brand-contrast,
.brand-contrast:hover {
  color: var(--brand-contrast-color);
}
.feedback {
  font-size: 0.8em;
  margin-bottom: 0.4em;
  text-align: left;
}
.feedback:empty {
  display: none;
}
.feedback.bottom {
  margin-top: 0.6em;
  margin-bottom: 0;
}
.invalid,
.invalid:hover {
  color: var(--fail-color);
}
.spacing-cover {
  padding: 1.5rem;
}
.spacing-side {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.spacing-top {
  margin-top: 1.5rem;
}
.spacing-top:empty {
  margin-top: 0;
}
.spacing-vertical {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pointer {
  cursor: pointer;
}
.pending-opacity {
  opacity: 0.4;
}
.primary-bg {
  background-color: var(--primary-background-color);
}
.secondary-bg {
  background-color: var(--secondary-background-color);
}
.brand-bg {
  background-color: var(--primary-brand-color);
}
.fail-bg {
  background-color: var(--fail-color);
}
.large-size {
  font-size: 3em;
}
.absolute-left {
  position: absolute;
}
.circle {
  border-radius: 50%;
}
