.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.inline-button button,
.inline-button .btn {
  margin-right: 1em;
}
.inline-button button:last-child,
.inline-button .btn:last-child {
  margin-right: 0;
}
.brand-contrast,.brand-contrast:hover {
  color: var(--brand-contrast-color);
}
